@using EMarket.Core.Application.ViewModels.Users
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card shadow-sm custom-top-distance">
                <div class="card-header bg-dark text-white w-100">
                    <h4 class="text-center p-1">Login</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="User" asp-action="Index">
                        @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Nombre de usuario</label>
                            <input asp-for="Username" class="form-control p-2"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Contraseña</label>
                            <input asp-for="Password" class="form-control p-2"/>
                        </div>

                        <button class="btn btn-primary p-2" type="submit">Iniciar sesión</button>
                        <a class="btn btn-secondary p-2" asp-controller="User" asp-action="Register">Regístrate</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>