@using EMarket.Core.Application.ViewModels.Users
@model SaveUserViewModel
@{
    ViewData["Title"] = "Registrar";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card shadow-sm top-distance-10">
                <div class="card-header bg-dark text-white">
                    <h4 class="text-center p-1">Registrar usuario</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="User" asp-action="Register">
                        @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label">Nombre</label>
                            <input asp-for="FirstName" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label">Apellido</label>
                            <input asp-for="LastName" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Correo electrónico</label>
                            <input asp-for="Email" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label">Número telefónico</label>
                            <input asp-for="Phone" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Nombre de usuario</label>
                            <input asp-for="Username" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Contraseña</label>
                            <input asp-for="Password" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña</label>
                            <input asp-for="ConfirmPassword" class="form-control"/>
                        </div>

                        <button type="submit" class="btn btn-primary">Registrar</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-secondary">Volver al login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

